/*Quitando estilos del navegador */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Estilo personal */

/*Estilo Navegacion */
body{
   
    color: black;
    opacity: .95;
}

a{
    color: black;
    text-decoration: none;
}
ul{
    list-style: none;
}
.container-menu{
    width: 95%;
    margin: auto;
}

.nav-main{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    height: 80px;
}

.nav-main ul.nav-menu{
    display: flex;
    flex: 1;
    margin-left: 25px;
}

.nav-main ul.nav-menu li{
    padding: 15px;
}

.nav-main ul.nav-menu li a:hover{
    border-bottom: 2px solid rgb(90, 5, 5);
}

.logoNav{
    width: 100px;
    border-style: solid;
    padding: 0px 50px;
}

.nav-sesion{
    
}
/*Seccion de contenido*/
.container {
	background-color: #9C9696;
}

.espacio5{
	height: 400px ;
	width: 5%;
	float: left;
	background-color: #F6EAEA; 

}

.lateralIzq {
	height: 500px ;
	width: 20%;
	float: left;
	background-color: #F0DD5B; 
}

.mapa-contenedor  {
	height: 500px ;
	width: 70%;
	background-color: #95A9E1;
	float: left;
}

.clear {
	height: 5px;
	width: 100%;
	background-color: #070707; 
	clear: both;

}
.tituloPrincipal {
	text-align: center;
	text-decoration-style: solid;
	
}

.texto-centrado {
	text-align: center;	
}
